.blog-manager-container-div {
  padding: 12px;
  height: calc(100vh - 64px);
  padding-bottom: 5rem;
  .masonry-blog-manager {
    height: 100%;
    width: 100%;
    margin-bottom: 2%;
    padding: 8px;
    overflow: auto;
    border-radius: 12;
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
    margin-left: -30px; /* gutter size offset */
    width: auto;
  }

  .masonry-blog-column-manager {
    padding-left: 10px; /* gutter size */
    background-clip: padding-box;
  }
}
