.images-display-wrapper {
  overflow: hidden;
  .masonry-image {
    height: 100%;
    width: 100%;
    overflow: auto;
    display: -webkit-box; /* Not needed if autoprefixing */
    display: -ms-flexbox; /* Not needed if autoprefixing */
    display: flex;
  }

  .masonry-image-column {
    background-clip: padding-box;
    padding-left: 2px; /* gutter size */
    padding-right: 2px; /* gutter size */
  }
}
